.commentWrapper {
  display: flex;

  .content {
    margin-left: 0.625rem;

    .header {
      .authorName {
        color: #34495E;
        font-size: 1rem;
        font-weight: bold;
      }

      .commentDate {
        color: #8FA7B2;
        font-weight: normal;
        margin-left: 0.625rem;
      }
    }

    .main {
      color: #34495E;
      font-size: 1rem;
      font-weight: normal;
      margin-top: 0.5rem;
      max-width: 20rem;
    }

    .footer {
      margin-top: 0.2rem;
      display: flex;
      align-items: center;

      .likeCount {
        color: #8FA7B2;
        font-size: 1rem;
        font-weight: normal;
      }
    }
  }
}