.miningFormWrapper {
  margin-top: 1.5rem;

  .option {

    .filters {
      margin-left: 2rem;
      margin-top: 0.4rem;
    }

    &:not(:first-child) {
      margin-top: 0.5rem;
    }

    .content {
      margin-top: 3.125rem;
      margin-bottom: 3.125rem;
      display: flex;
      flex-direction: column;

      .wordInputWrapper {
        .label {
          height: 1.125rem;
          display: flex;
          flex-direction: row;
          align-items: center;
          font-size: 1rem;
          margin-bottom: 0.375rem;

          .name {
            color: #34495E;
            font-weight: bold;
            padding: 0;
          }

          .info {
            color: #8FA7B2;
            padding: 0;
            font-weight: bold;
            margin-left: 1rem;
          }
        }

        .input {
          display: flex;
        }
      }

      .wordList {
        margin-top: 1rem;
        padding: 0 !important;

        li {
          color: #34495E;
          width: 28.5rem;
          display: flex;
          align-items: center;
          padding: 0;
          justify-content: space-between;
          width: 24.688rem;

          button {
            height: 1.25rem;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }

      input, button {
        height: 3.125rem;
      }

      input {
        width: 24.688rem;
      }

      button {
        width: 3.125rem;
        margin-left: 0.688rem;
      }
    }
  }

  .save {
    margin-top: 1.875rem;
    width: 28.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    label {
      font-size: 1rem;
      color: #8FA7B2;
    }
  }

  .privacy {
    margin-top: 2.5rem;

    .subtitle {
      color: #34495E;
      font-size: 1rem;
    }

    .select {
      margin-top: 1rem;
    }

    
  }

  .submitBtn, .resetBtn {
    width: 28.5rem;
    height: 3.875rem;
    font-size: 1.625rem;
    font-weight: bold;
    color: #fff;
    border: none;
    border-radius: 0.313rem;
    cursor: pointer;
  }

  .submitBtn {
    margin-top: 0.8rem;
    background-color: #8981D8;
  }

  .resetBtn {
    margin-top: 0.7rem;
    background-color: #D4C2FF;
    margin-bottom: 5rem;
  }
}