.loginWrapper {
  background-color: #8981D8;
  height: 100vh;

  .main {
    background: -webkit-linear-gradient(#8981D8 20%, #F0F0F7 20%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 15.75rem;

    .title {
      margin-top: 0.125rem;
      color: #fff;
      font-weight: bold;
      font-style: normal;
      font-size: 2.5rem;
      line-height: 2.625rem;
    }

    .card {
      margin-top: 2.5rem;
      width: 29.125rem;
      height: 29.375rem;
      background-color: #fff;
      border-radius: 0.625rem;
      padding: 3.875rem 2.813rem 0 2.813rem;
      box-shadow: 0.25rem 0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.25);

      .cardForm {
        display: flex;
        flex-direction: column;
     
        .linkForgotPassword {
          color: #8981D8;
          margin-top: 1.75rem;
          align-self: flex-end;
        }

        .btnLoginSubmit {
          margin-top: 1.75rem;
          height: 3.5rem;
          background-color: #1AAE9F;
          color: #fff;
          border: none;
          border-radius: 0.625rem;
          font-size: 1.625rem;
          font-weight: bold;
        }

        .btnLoginSubmit:hover {
          cursor: pointer;
        }
      }
    }

    .textSignUp {
      margin-top: 3.375rem;
      font-size: 1.25rem;
      color: #8FA7B2;

      .linkSignUp {
        font-size: 1.25rem;
        color: #8981D8;
      }
    }
  }
}