.leftBarWrapper {
  height: 100vh;
  width: 5rem;
  position: fixed;
  left: 0;
  top: 0;
  background-color: #8981D8;
  transition: 0.5s;

  .logoBtn {
    width: 100%;
    border: none;
    background-color: #6A61C0;
    height: 4.625rem;
    justify-content: center;
    align-items: center;
    display: flex;

    img {
      width: 40px;
    }

    &:hover {
      cursor: pointer;
      filter: brightness(0.9);
      
      svg {
        color: #fff
      }
    }
  }

  .linkList {
    li {
      .link {
        border: none;
        background-color: transparent;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 4rem;
        transition: 0.5s;
        
        
        svg {
          color: #6A61C0;
        }

        &:hover {
          cursor: pointer;
          filter: brightness(0.9);

          svg {
            color: #fff;
          }
        }

        span {
          display: none;
          margin-left: 0.2rem;

          font-weight: bold;
        }
      }

      .linkSelected {
        
        svg {
          color: #FFF;
        }

        &:hover {
          cursor: pointer;
          filter: brightness(0.9);

          svg {
            color: #fff;
          }
        }
      }

      &:first-child {
        margin-top: 1rem;
      }
    }

    
    .divider {
      width: 80%;
      background-color: #6A61C0;
      height: 1px;
      margin-top: 2rem;
      margin-left: 10%;
    }
  }
}

