.secondaryTopBarWrapper {
  margin-top: 0.625rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5.5rem;

  padding-left: 3.50rem;
  padding-right: 3.50rem;

  .filtersWrapper {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    .filterText {
      font-size: 0.75rem;
      color: #7E7E7E;
    }

    .btnGroup {
      display: flex;
      margin-top: 0.5rem;

      .btnSelected, .btnUnselected {
        height: 2.5rem;
        font-size: 1.125rem;
        padding: 0.688rem 0.938rem 0.688rem 0.938rem;
        border-radius: 0.313rem;
        border: none;
        font-weight: normal;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 0.625rem;
        cursor: pointer;
      }
  
      .btnSelected {
        background-color: #8981D8;
        color: #fff;
      }

      .btnUnselected {
        background-color: #FFF;
        color: #7E7E7E;
      }
    }

    
  }

  .title {
    flex: 1;
    text-align: center;
    color: #34495E;
    font-size: 1.875rem;
    font-weight: bold;
  }

  .btnCreateAnalysis {
    display: flex;
    justify-content: flex-end;
    flex: 1;
    height: 100%;
    align-items: flex-end;

    button {
      // font-size: 1.125rem;
      color: #8981D8;
      // background-color: transparent;
      // border: none;
      // padding-bottom: 0.688rem;

      // display: flex;
      // align-items: center;

      // svg {
      //   margin-right: 0.6rem;
      // }

      cursor: pointer;
    }
  }
}

@media only screen and (max-width: 1100px) {
  .secondaryTopBarWrapper {
    .filtersWrapper {
      .btnGroup {
        display: flex;
        flex-direction: column;

        .btnSelected, .btnUnselected {
          max-width: 5rem;
          height: 2.5rem;
          font-size: 1.125rem;
          padding: 0.688rem 0.938rem 0.688rem 0.938rem;
          border-radius: 0.313rem;
          border: none;
          font-weight: normal;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-right: 0.625rem;
          cursor: pointer;
        }
        .btnUnselected {
          display: none;
        }
      }
    }
  }
}

@media only screen and (max-width: 800px) {
  .secondaryTopBarWrapper {
    .filtersWrapper {
      display: none;
    }

    .btnCreateAnalysis {
      position: fixed;
      bottom: 20px;
      right: 20px;

      span {  
        font-size: 20px;
      }
    }
  }
}