.btnOpenComments {
  font-size: 1rem;
  color: #8981D8;
  box-shadow: none;
  padding: 0;

  &:hover {
    background-color: #fff !important;
    border: none !important;
  }

  &:current {
    background-color: #fff !important;
    border: none !important;
  }

  &:checked {
    background-color: #fff !important;
    border: none !important;
  }

  &:focus {
    background-color: #fff !important;
    box-shadow: none !important;
    border: none !important;
  }
}

.modalTitle {
  color: #34495E;
}

.btnModalClose {
  margin-right: 0 !important;
  background-color: #fff;
  color: #8981D8;
  box-shadow: none !important;


  &:focus {
    box-shadow: none;
  }
}
.commentList {

  .comment {
    &:not(:first-child) {
      margin-top: 3rem;
    }
  }
}