.profileWrapper {
  margin-left: 5rem;

  .userInfo {
    display: flex;
    flex-direction: column;
    align-items: center;

    .title {
      margin-top: 1.75rem;
      color: #34495E;
      font-size: 1.875rem;
      font-weight: bold;
    }
  }
}