* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Archivo', sans-serif;
  
}

.scrollbar-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none; /* Firefox */
}

a {
  text-decoration: none;
}

* {
  scrollbar-width: none;
}

body {
  scrollbar-width: none;
}


@media only screen and (max-width: 620px) {
  * {
    font-size: 14px;
  }
}

@media only screen and (max-width: 560px) {
  * {
    font-size: 12px;
  }
}

@media only screen and (max-width: 490px) {
  * {
    font-size: 12px;
  }
}

/* make chakra modal centralized */
.chakra-modal__content-container {
  padding-left: 5rem;
}

 
