* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Archivo', sans-serif;
  
}

.scrollbar-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none; /* Firefox */
}

a {
  text-decoration: none;
}

* {
  scrollbar-width: none;
}

body {
  scrollbar-width: none;
}


@media only screen and (max-width: 620px) {
  * {
    font-size: 14px;
  }
}

@media only screen and (max-width: 560px) {
  * {
    font-size: 12px;
  }
}

@media only screen and (max-width: 490px) {
  * {
    font-size: 12px;
  }
}

/* make chakra modal centralized */
.chakra-modal__content-container {
  padding-left: 5rem;
}

.chakra-toast__inner {
  padding-left: 5rem;
}

.paginate-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10rem 0 10rem;
  list-style: none;
  color: #7E7E7E;
}

.paginate-link-active {
  color: #fff;
  background-color: #8981D8;
  border-radius:  5px;
}

.paginate-next {
  padding: 10px;
}

.paginate-previous {
  padding: 10px;
}

.paginate-page-link {
  padding: 10px;
}
