* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Archivo', sans-serif;
  
}

.scrollbar-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none; /* Firefox */
}

a {
  text-decoration: none;
}

* {
  scrollbar-width: none;
}

body {
  scrollbar-width: none;
}


@media only screen and (max-width: 620px) {
  * {
    font-size: 14px;
  }
}

@media only screen and (max-width: 560px) {
  * {
    font-size: 12px;
  }
}

@media only screen and (max-width: 490px) {
  * {
    font-size: 12px;
  }
}

.MuiSwitch-input PrivateSwitchBase-input css-1m9pwf3 {
    color: green !important;
 }

 .MuiSwitch-switchBase MuiSwitch-colorPrimary MuiButtonBase-root MuiSwitch-switchBase MuiSwitch-colorPrimary PrivateSwitchBase-root Mui-checked css-5ryogn-MuiButtonBase-root-MuiSwitch-switchBase {
    color: green !important;
 }

 .css-5ryogn-MuiButtonBase-root-MuiSwitch-switchBase.Mui-checked {
  color: #8981D8 !important;
 }

 .css-5ryogn-MuiButtonBase-root-MuiSwitch-switchBase.Mui-checked + .MuiSwitch-track {
  background-color: #8981D8 !important;
 }

 
