.homeWrapper {
  display: flex;
  padding-left: 5rem;
  transition: 0.5s;
  background-color: #F0F0F7;

  .main {
    width: 100%;
  }
}

.homeWrapperOpen {
  display: flex;
  padding-left: 14rem;
  transition: 0.5s;

  .main {
    width: 100%;
  }
}

@media only screen and (max-width: 490px) {
  .homeWrapperOpen {
    display: flex;
    padding-left: 5rem;
    transition: 0.5s;
    background-color: #F0F0F7;
  
    .main {
      width: 100%;
    }
  }
}