.introdutionWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 26rem;
  margin-bottom: 3rem;
  background-color: #DEDEE8;

  .introTextWrapper {
    text-align: left;
    max-width: 37.5rem;

    .title {
      font-size: 3.125rem;
      font-weight: bold;
      color: #34495E;
      line-height: 50px;
    }
  
    .subtitle {
      margin-top: 1.25rem;
      font-size: 1.375rem;
      font-weight: normal;
      color: #34495E;
      line-height: 30px;
    }
  }

  img {
    margin-left: 4rem;
    margin-top: 3.5rem;
  }
  
}

@media only screen and (max-width: 1200px) {
  .introdutionWrapper {
    background-color: #8981D8;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;

    .introTextWrapper {
      text-align: center;

      .title {
        color: #fff;
      }

      .subtitle {
        display: none;
      }
    }

    img {
      display: none;
    }
  }
}