.cardWrapper {
  width: 18.125rem;
  height: 19.5rem;
  background-color: #fff;
  color: #7E7E7E;
  padding: 1.5rem;
  border-radius: 0.313rem;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  .analysisHandler {
    display: none;
  }

  .header {
    display: flex;
    justify-content: space-between;
    font-size: 0.75rem;
  }

  .main {
    margin-top: 0.938rem;

    .videoTitle {
      font-size: 1.125rem;
      font-weight: bold;
      cursor: pointer;

      &:hover {
        text-decoration: #7E7E7E underline;
      }
    }

    .videoDescription {
      margin-top: 0.875rem;
      font-size: 1rem;
    }
  }

  .footer {
    display: flex;
    flex: 1;
    align-items: flex-end;

    div {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 1rem;

      svg {
        margin-right: 0.2rem;
      }
    }
  }
}

.historyCardWrapper {
  transition: 0.2s;
  padding-top: 0;
  padding-right: 0;

  .header, .main, .footer {
    margin-right: 1.5rem;
  }

  .analysisHandler {
    display: flex;
    padding-right: 1.5rem;
    justify-content: flex-end;
    color: black;
    border-radius: 0.313rem;  

    .menuList {
      background-color: #8981D8;
      color: #fff;
      min-width: 8.3rem;
      padding: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .listItem {
        margin: 0;
        
        &:not(:first-child) {
          margin-top: 1rem;
        }

        div {
          display: flex;
          justify-content: center;
          align-items: center;

          
        }

        svg {
          margin-right: 0.5rem;
          color: #fff;
          padding: 0;
        }

        &:hover, &:focus, &:active {
          background-color: #8981D8;
        }
      }

      
    }

    button {
      padding: 0;
      border: none;

      svg {
        color: #8981D8;
      }
    }
    span {
      cursor: pointer;
    }
  }
}