.createAnalysisWrapper {
  padding-left: 5rem;
  background-color: #F0F0F7;
  min-height: 100vh;
  
  .main {
    width: 100%;

    .content {
      display: flex;
      flex-direction: column;
      align-items: center;

      .analysisWrapper {
        .createdTitle {
          margin-top: 1.75rem;
          margin-bottom: 3rem;
          width: 70rem;
          color: #34495E;
          font-size: 1.875rem;
          font-weight: bold;
        }
      }

      .title {
        margin-top: 1.75rem;
        color: #34495E;
        font-size: 1.875rem;
        font-weight: bold;
      }

      .card {
        background-color: #fff;
        width: 37.5rem;
        margin-top: 2.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 10.25rem;

        box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 0.313rem;

        .videoInfoWrapper {
          margin-top: 1.4rem;

          .videoTitle {
            font-size: 1.6rem;
            color: #34495E;
            text-align: center;
          }

          .videoImg {
            margin-top: 1rem;
          }
        }

        .label {
          margin-top: 2.5rem;
          height: 1.125rem;
          display: flex;
          flex-direction: row;
          align-items: center;
          font-size: 1rem;
          margin-bottom: 0.375rem;

          .name {
            color: #34495E;
            font-weight: bold;
            padding: 0;
          }

          .info {
            color: #8FA7B2;
            font-weight: bold;
            padding: 0;
            margin-left: 1rem;
          }
        }

        .videoUrlForm {
          margin-bottom: 2.5rem;

          .btnWrapper {
            display: flex;
            flex-direction: row;
            
            input {
              width: 24.5rem;
              height: 3.313rem;
              // background-color: #F5F8FA;
              // border: 1px solid #D3E2E5;
              // border-radius: 0.313rem;
              // padding: 1.125rem 1.25rem 1.125rem 1.25rem;
              // font-size: 1.1rem;
              // color: #8FA7B2;
              // font-style: normal;
              // font-weight: normal;
              // line-height: 1.375rem;
              // &:focus {
              //   outline: none;
              // }
            }
            

            button {
              margin-left: 0.5rem;
              background-color: #8981D8;
              border: none;
              border-radius: 0.313rem;
              color: #fff;
              width: 3.5rem;
              cursor: pointer;
            }
          }
        }

        .subtitle {
          margin-top:4rem;
          width: 28.5rem;
          font-size: 1.4rem;
          color: #34495E;
          font-weight: bold;
        }

        .selectTypeWrapper {
         
          width: 28.5rem;

          .select {
            margin-top: 1.5rem;
          }
        }

        .analysisForm {
          width: 28.5rem;
          .subsubtitle {
            margin-top: 2.5rem;
            color: #34495E;
            margin-bottom: 1rem;
            font-weight: normal;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
  .createAnalysisWrapper {
    padding: 0;

    .main {
      width: 100%;
  
      .content {
  
        .title {
          margin-top: 1.75rem;
          color: #34495E;
          font-size: 1.875rem;
          font-weight: bold;
        }
  
        .card {
          background-color: #fff;
          width: 30rem;
        }
      }
    }
  }
}