.topNegativeCommentsWrapper {
  padding: 1rem;

  .noCommentsText {
    margin-top: 1rem;
    color: #34495E;
  }
  
  .commentList {
    display: flex;
    flex-direction: column;
    margin-top: 2.5rem;
    list-style: none;

    li {
      &:not(:first-child) {
        margin-top: 1.875rem;
      }
    }
    
  }

}