.btnOpenComment {
  font-size: 0.75rem;
  color: #8981D8;
  margin-left: 1rem;

  &:hover {
    background-color: #fff;
  }
}

.btnModalClose {
  margin-right: 0 !important;
  background-color: #fff;
  color: #8981D8;
}

.commentWrapper {
  display: flex;

  .content {
    margin-left: 0.625rem;

    .header {
      .authorName {
        color: #34495E;
        font-size: 1rem;
        font-weight: bold;
      }

      .commentDate {
        color: #8FA7B2;
        font-weight: normal;
        margin-left: 0.625rem;
      }
    }

    .main {
      color: #34495E;
      font-size: 1rem;
      font-weight: normal;
      margin-top: 0.5rem;
      max-width: 20rem;
    }

    .footer {
      margin-top: 0.5rem;

      .likeCount {
        color: #8FA7B2;
        font-size: 1rem;
        font-weight: normal;
      }
    }
  }
}