.topCommentingUserWrapper {
  padding: 1rem;

  .content {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .authorName {
      color: #34495E;
      font-size: 1.4rem;
      font-weight: bold;
    }

    .text {
      color: #34495E;
      font-size: 1rem;
      font-weight: normal;

      .commentCount {
        color: #8981D8;
        font-weight: normal;
      }
    }
  }
}