.defaultFormWrapper {
  margin-top: 1.5rem;

  .option {
    .filters {
      margin-left: 2rem;
      margin-top: 0.4rem;

      &:last-child {
        margin-bottom: 1.4rem;
      }
    }

    &:not(:first-child) {
      margin-top: 0.5rem;
    }
  }

  .save {
    margin-top: 1.875rem;
    width: 28.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    label {
      font-size: 1rem;
      color: #8FA7B2;
    }
  }

  .privacy {
    margin-top: 2.5rem;

    .subtitle {
      color: #34495E;
      font-size: 1rem;
    }

    .select {
      margin-top: 1rem;
    }

    
  }

  .submitBtn, .resetBtn {
    width: 28.5rem;
    height: 3.875rem;
    font-size: 1.625rem;
    font-weight: bold;
    color: #fff;
    border: none;
    border-radius: 0.313rem;
    cursor: pointer;
  }

  .submitBtn {
    margin-top: 0.8rem;
    background-color: #8981D8;
  }

  .resetBtn {
    margin-top: 0.7rem;
    background-color: #D4C2FF;
    margin-bottom: 5rem;
  }
}