.signUpWrapper {
  background-color: #8981D8;

  button:hover {
    filter: brightness(1.1);
  }

  .main {
    background: -webkit-linear-gradient(#8981D8 20%, #F0F0F7 20%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 8.875rem;

    .title {
      margin-top: -2rem;
      color: #fff;
      font-weight: bold;
      font-style: normal;
      font-size: 2.5rem;
      line-height: 2.625rem;
    }

    .card {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 2.5rem;
      width: 29.125rem;
      height: 38.875rem;
      background-color: #fff;
      border-radius: 0.625rem;
      padding: 3.875rem 2.813rem 0 2.813rem;
      box-shadow: 0.25rem 0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.25);

      .cardForm {
        display: flex;
        flex-direction: column;

        .input {
          height: 3.5rem;
          padding: 1.125rem 1.25rem 1.125rem 1.25rem;
          font-size: 1.25rem;
          color: #8FA7B2;
          font-style: normal;
          font-weight: normal;
          line-height: 1.375rem;
          border: none;
        }
        
        .input:focus {
          outline: none;
        }
        
        .input::placeholder {
          color: #8FA7B2;
          opacity: 100%;
          font-weight: normal;
          line-height: 1.375rem;
        }
     
        .checkboxWrapper {
          color: #8FA7B2;
          align-self: center;
          margin-top: 2rem;
          font-size: 1rem;
          display: flex;

          .checkboxInput {
            margin-right: 0.5rem;
          }
        }

        .btnSignUpSubmit {
          margin-top: 2rem;
          background-color: #8981D8;
          color: #fff;
          border: none;
          border-radius: 0.313rem;
          font-size: 1.625rem;
          font-weight: bold;
          height: 4.583rem;
          cursor: pointer;
          width: 23.443rem;
        }
      }

      .divider {
        width: 19.594rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 1.375rem;
        margin-bottom: 0.875rem;

        .text {
          margin-left: 0.625rem;
          margin-right: 0.625rem;
          color: rgba(143, 167, 178, 0.5);
        }

        .borderLeft, .borderRight {
          width: 8.469rem;
          height: 4px;
          background-color: rgba(143, 167, 178, 0.5);
        }
      }
      .btnLoginWithGoogle {
        height: 4.563rem;
        width: 19.625rem;
        background: rgba(137, 129, 216, 0.5);
        border: none;
        border-radius: 0.313rem;
        color: #fff;
        font-size: 1.625rem;
        cursor: pointer;
        transition: 0.2s;
      }
    }

    .textLogin {
      margin-top: 3.375rem;
      font-size: 1.25rem;
      color: #8FA7B2;

      .linkLogin {
        font-size: 1.25rem;
        color: #4194DC;
      }
    }
  }
}